In [1]:
import os

from sklearn.metrics import f1_score, recall_score, precision_score
from sklearn.model_selection import train_test_split
import pandas as pd

from bot_spotter import Spotter
from bot_spotter.constants import DATA_FILE, DATA_FOLDER, LABEL

raw_data = pd.read_csv(os.path.join("../", DATA_FOLDER, DATA_FILE))
train, val = train_test_split(raw_data, random_state=0, test_size=0.2)

In [2]:
raw_data.head()

       UserId            Event  Category  Fake
0  53F7429AB5       phone_call      Jobs     0
1  C08F2A0901         click_ad     Phone     0
2  B124F43F6D         send_sms  Holidays     0
3  6DB134D2D1       send_email     Motor     0
4  8BD16971C5  click_carrousel   Leisure     0

In [3]:
len(val) / len(train)

0.25

In [4]:
val[LABEL].value_counts(normalize=True)

0    0.900601
1    0.099399
Name: Fake, dtype: float64

In [5]:
train[LABEL].value_counts(normalize=True)

0    0.898354
1    0.101646
Name: Fake, dtype: float64

In [6]:
spotter = Spotter()
spotter.run(train)

In [7]:
preds = spotter.predict(val)
print(f"f1_score: {f1_score(val[LABEL], preds)}")
print(f"recall_score: {recall_score(val[LABEL], preds)}")
print(f"precision_score: {precision_score(val[LABEL], preds)}")

f1_score: 0.0
recall_score: 0.0
precision_score: 0.0

/home/abdelelyds/.local/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [10]:
preds

            Prediction
UserId
D1DAC510B3           0
0278732F9A           0
64F532A744           0
B622B31E11           0
A368CA6535           0
...                ...
84EC1C817D           0
98BFC83531           0
A9D4882170           0
8066C2D6E1           0
C7C229F069           0

[20473 rows x 1 columns]